{{ home_team }} - {{ away_team }} maçı için tahminimiz:
{{ threshold }} gol üzeri/altı: **{{ direction_label }}** ({{ confidence_band(probability) }} güven)

Maç: {{ home_team }} - {{ away_team }}
Tarih: {{ kickoff_time(kickoff_utc) }}
{% if degraded %}
Tahmin sınırlı veriyle üretildi: {{ degraded_reason }}
{% endif %}
---
{{ citation_block }}
